<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.dips.raus.mapper.GovWebLogMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.cloud.dips.raus.api.entity.GovWebLog" id="govWebLogMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="operation_type" column="operationType"/>
        <result property="operation_detail" column="operationDetail"/>
        <result property="realIp" column="real_ip"/>
        <result property="agentIp" column="agent_ip"/>
        <result property="territoryIp" column="Territory_ip"/>
        <result property="time" column="time"/>
        <result property="createTime" column="create_time"/>
        <result property="modifiedTime" column="modified_time"/>
        <result property="deleted" column="is_deleted"/>
        <result property="exception" column="exception"/>
        <result property="status" column="status"/>
        <result property="method" column="method"/>
    </resultMap>


</mapper>
