<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 *
 * Copyright (c) 2018-2025, Wilson All rights reserved.
 *
 * Author: Wilson
 *
 */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.dips.admin.mapper.SysAttachmentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.cloud.dips.admin.api.entity.SysAttachment">
		<id column="id" property="attachmentId"/>
		<result column="user_id" property="userId"/>
		<result column="url" property="url"/>
		<result column="file_size" property="length"/>
		<result column="ip" property="ip"/>
		<result column="create_time" property="time"/>
	</resultMap>
	
	<!-- deptVo结果集 -->
	<resultMap id="attachmentVoResultMap" type="com.cloud.dips.admin.api.vo.AttachmentVO">
		<id column="id" property="attachmentId"/>
		<result column="user_id" property="userId"/>
		<result column="url" property="url"/>
		<result column="file_size" property="length"/>
		<result column="ip" property="ip"/>
		<result column="create_time" property="time"/>
	</resultMap>


</mapper>
