<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 *
 * Copyright (c) 2018-2025, ZB All rights reserved.
 *
 * Author: ZB
 *
 */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.dips.admin.mapper.SysDictValueMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.cloud.dips.admin.api.entity.SysDictValue">
		<id column="id" property="id"/>
		<result column="key" property="key"/>
		<result column="value" property="value"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="dict_id" property="dictId"/>
		<result column="parent_id" property="parentId"/>
		<result column="sort" property="sort"/>
	</resultMap>

	<!-- DictValueVO结果集 -->
	<resultMap id="dictValueVOResultMap" type="com.cloud.dips.admin.api.vo.DictValueVO">
		<id column="id" property="id"/>
		<result column="key" property="key"/>
		<result column="value" property="value"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="dict_id" property="dictId"/>
		<result column="parent_id" property="parentId"/>
		<result column="sort" property="sort"/>
		<collection property="dictValueList" select="selectDictValue" column="id">

		</collection>
	</resultMap>

	<select id="selectDictValueVo" resultMap="dictValueVOResultMap">
		SELECT
		*
        FROM
            gov_dict_value AS dv
        WHERE
			dv.dict_id = #{dId} and dv.parent_id = 0
		ORDER BY
			dv.sort,dv.id DESC
    </select>

	<select id="selectDictValue" resultMap="BaseResultMap">
		SELECT
		*
        FROM
            gov_dict_value AS dv
        WHERE
			dv.parent_id = #{id}
		ORDER BY
			dv.sort DESC,dv.id DESC
	</select>
	<select id="selectThemeById" resultType="com.cloud.dips.admin.api.vo.DictValueVO">
	
	SELECT id,`key`,value FROM gov_dict_value WHERE id = #{themeId}
	
	</select>

</mapper>
