<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.dips.gov.mapper.ScrapyGovPolicyGeneralMapper">
	<resultMap id="scrapyGovPolicyGeneralMap" type="com.cloud.dips.gov.api.entity.ScrapyGovPolicyGeneral">
		<result column="id" property="id" />
		<result column="title" property="title" />
		<result column="summary" property="summary" />
		<result column="source" property="source" />
		<result column="reference" property="reference" />
		<result column="issue" property="issue" />
		<result column="style" property="style" />
		<result column="level" property="level" />
		<result column="timeliness" property="timeliness" />
		<result column="stage" property="stage" />
		<result column="formality" property="formality" />
		<!--<result column="effective" property="effective" />-->
		<!--<result column="write_time" property="writeTime" />-->
		<result column="publish_time" property="publishTime" />
		<result column="effect_time" property="effectTime" />
		<result column="invalid_time" property="invalidTime" />
		<result column="text" property="text" />
		<result column="tag" property="tag" />
		<result column="target" property="target" />
		<result column="theme" property="theme" />
		<result column="fund" property="fund" />
		<result column="industry" property="industry" />
		<result column="attachment" property="attachment" />
		<result column="creator_id" property="creatorId" />
		<result column="file" property="file" />
		<result column="url" property="url" />
		<result column="is_deleted" property="delFlag" />
		<result column="examine_status" property="examineStatus" />
		<result column="examine_user_id" property="examineUser" />
		<result column="examine_date" property="examineDate" />
		<result column="retreat_count" property="retreatCount" />
		<result property="region" column="region" />
		<result column="retreat_user" property="retreatUser" />
		<result column="retreat_content" property="retreatContent" />
		<result column="processor_id" property="processorId" />
	</resultMap>

	<select id="selectDictKeyByNumberAndValue" resultType="string">
		SELECT
			d.key
		FROM
			gov_dict_value AS d
		WHERE
			d.dict_id = (SELECT id FROM gov_dict WHERE number = #{number}) AND d.value = #{value}
	</select>

    

	<select id="selectScrapyGeneralPage" resultMap="scrapyGovPolicyGeneralMap">
		SELECT
			d.id,
			d.title,
			d.source,
			d.publish_time,
			d.is_deleted,
            d.examine_status,
            d.processor_id 
		FROM
			scrapy_gov_policy_general AS d
		LEFT JOIN gov_user AS u ON u.id = d.creator_id
		WHERE d.is_deleted !='1'
		<if test="title != null and title != ''">
			AND d.title LIKE CONCAT('%',#{title},'%')
		</if>
		<if test="username != null and username != ''">
			AND u.username = #{username}
		</if>
		<if test="startTime != null and startTime != ''">
			and d.publish_time  &gt;=  #{startTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and d.publish_time  &lt;=  #{endTime}
		</if>
		<if test="status != null and status != ''">
			and d.examine_status  =  #{status}
		</if>
        <if test="exceptExamined != null and exceptExamined != ''">
            <if test="exceptExamined == 'true'">
                AND d.is_deleted != '2'
            </if>
            <if test="exceptExamined == 'false'">
                AND d.is_deleted = '2'
            </if>
        </if>
		ORDER BY 
		<if test="prop != null and prop != ''">
            <if test="'publishTime' == prop">
                <if test="order == 'descending'">
                    d.publish_time DESC,
                </if>
                <if test="order == 'ascending'">
                    d.publish_time ASC,
                </if>
            </if>
        </if>
		d.id DESC
	</select>

	<select id="listDictByNumber" resultType="string">
		SELECT
			d.value
		FROM
			gov_dict_value AS d
		WHERE
			d.dict_id = (SELECT id FROM gov_dict WHERE number = #{number})
	</select>

	<select id="getRecyclePage" resultMap="scrapyGovPolicyGeneralMap">
		SELECT
			d.id,
			d.title,
			d.source,
			d.publish_time,
			d.is_deleted,
            d.status
		FROM
			scrapy_gov_policy_general AS d
		LEFT JOIN gov_user AS u ON u.id = d.creator_id
		WHERE d.is_deleted = '1'
		<if test="title != null and title != ''">
			AND d.title LIKE CONCAT('%',#{title},'%')
		</if>
		<if test="username != null and username != ''">
			AND u.username = #{username}
		</if>
        <if test="status != null and status != ''">
			and d.status =  #{status}
		</if>
		ORDER BY d.id DESC
	</select>

	<update id="recycleRecover">
		UPDATE scrapy_gov_policy_general AS d SET d.is_deleted = '0' WHERE d.id = #{id}
	</update>

</mapper>
